/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
/* 
.fl-content-slider .fl-slide{
	visibility: visible !important;
} */

ul.social-icons li a i {
    font-size: 19px;
}

header ul.social-icons li, ul.social-icons li{
    margin: 0px 0px 0 0 !important;
}

.fl-page-bar nav {
    display: inline-block;
    width: 100%;
}

ul.social-icons li a:hover i {
    color: #000 !important;
}

.fl-page-bar .fl-page-bar-nav {
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.ui-datepicker-title select{
    color: #000!important;
}
 .fl-accordion-item a{
  		border: none!important;
  		outline: none!important;
  }
.fl-slide-5 .fl-slide-content-wrap{
	width: 100% !important;
}
.fl-slide-4 .fl-slide-photo-wrap {
    width: auto !important;
}
#field_3_2, #field_11_2, #field_5_2{
    padding-right: 0px!important;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}
.fl-content{
    margin: 0px 0!important;
}
div.homeSlider .fl-slide-0 h1.fl-slide-title{
	font-size: 50px;
} 
div.homeSlider .fl-slide-0 h1.fl-slide-title ~ div > p{
	font-size: 20px;
}
div.homeSlider .fl-slide-2 .fl-slide-photo-wrap {
    width: 100%;
}
div.homeSlider .fl-slide-0 .fl-slide-bg-link {
	    background: rgba(0,0,0,0.3);
} 

.fl-post .fl-post-image-beside{
    margin-right: 0px;
}
article .fl-post-header{
    margin-left: -15px!important;
    margin-right: -15px!important;
}
.product-swatch-inner .button-wrapper-default a{
    background: #814249;
    color: aliceblue;
}
.product-swatch-inner .button-wrapper-default a:last-child{
    display: none;
}

.facetwp-selections ul:before {
    content: "YOUR SELECTION";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #814249;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #814249;
    padding: 5px 5px 5px 0px;
}

.facetwp-selections ul{
    padding-bottom: 20px;
    padding-left: 0;
}

.facet_filters strong {
    color: #814249;

}

.facet_filters .facet-wrap>strong {
    border-bottom: 2px solid #814249;
}

.bottom-pager .facetwp-pager{
    text-align: right;
}

.desktop_hide {
    display: none !important;
}


a.location_link {
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    text-align: center;
    margin: 5px 0;
}

.mobile_top_bar a.phone.retailer span:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}



@media(max-width:1024px){
	
	header ul.social-icons li, ul.social-icons li {
		margin: 2px !important;
	}
	
    .fl-page-nav .navbar-nav li>a{
        padding: 15px 8px;
        font-size: 11.1px; 
    }
    .fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a, .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a{
        padding: 15px 8px;
    }
    footer .fl-rich-text p {
        margin: 0;
    }
    ul.social-icons li{
        margin: 0 10px 0 0;
    }
}

@media(max-width:992px){
    .fl-page-nav-search{
        display: block
    }
    
     /* PLP Page Css iPad Air */
     .open_sidebar {
        overflow: hidden;
        margin-bottom: 20px !important;
    }

    .open_sidebar a {
        float: unset;
    }

    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: none;
    }

    #product-list-top-filters .fl-col-group .fl-col {
        width: 100% !important;
        text-align: center;
        max-width: 100%;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts,
    .facetwp-pager,
    .facetwp-per-page,
    .open_sidebar {
        text-align: center !important;
    }
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .open_sidebar {
        max-width: 160px;
        margin: 0 auto;
    }
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    .facet_filters .close_bar {
        background-color: #008c8c;
        overflow: hidden;
        width: 100%;
        padding: 5px;
        display: block;
        margin-bottom: 20px;
    }

    .facet_filters .close_bar .close {
        color: white;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        float: right;
        color: #fff;
        opacity: 1;
    }
    .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
        clear: left !important;
    }
    .facetwp-template .product-grid .product-row > .col-md-4 {
        width: 33.33%;
        float: left;
        clear: none !important;
    }
    .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
        width: 100% !important;
        text-align: center !important;
    }
    .product-detail-layout-6
        .product-box
        .row:first-child
        .col-md-6:nth-child(2) {
        width: 100% !important;
        text-align: center !important;
    }
    .product-detail-layout-6 .toggle-image-thumbnails {
        align-items: center !important;
        justify-content: center !important;
    }

    .facetwp-per-page select {
        border: 1px solid #000;
    }

    /* PLP Page Css iPad Air end */

         
    .header_banner>.fl-row-content-wrap {
        padding: 20px 0!important
    }

    footer#djcustom-footer .fl-col, footer .fl-col {
        width: 100% !important;
    }

    footer table {
        width: 100% !important;
    }

    .fl-page-content .uabb-module-content.uabb-dual-button.uabb-align-left {
        justify-content: center
    }

    
    .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
    .fl-page-content .fl-module-heading .fl-heading,
    .fl-page-content .fl-rich-text,
    .fl-page-content .fl-rich-text *,
    .fl-page-content .review-wrap,
    .fl-page-content .fl-builder-content .fl-button-left,
    .fl-page-content .fl-cta-left *,
    .fl-page-content .fl-module-content .fl-rich-text ul.storename,
    .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
    .fl-page-content .fl-module-content ul.storename,
    .uabb-module-content.uabb-button-wrap,
    .fl-page-content .fl-html,
    footer *,
    .fl-callout *{
        text-align: center !important;
    }
    
    .fl-page-content .fl-module-content .fl-rich-text ul,
    .fl-page-content .fl-module-content .fl-rich-text ol,
    .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
    .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
        margin: 0;
    }

    .fl-page-content ul.storename, ul.store-opening-hrs {
        padding: 0;
        list-style: none;
    }

    .fl-page-content .fl-module-content .fl-rich-text ul *,
    .fl-page-content .fl-module-content .fl-rich-text ol *,
    .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
    .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
    .fl-page-content .text_left_content .fl-rich-text *,
    .fl-page-content .text_left_content .fl-rich-text * {
        text-align: left !important;
    }

    .fl-module-content-slider .fl-slide .fl-slide-content:empty {
        display: none;
    }
    .fl-module-content-slider .fl-content-slider .fl-slide-photo-wrap .fl-slide-photo {
        margin-top: 60px;
    }
    #product-list-top-filters+.fl-row>.fl-row-content-wrap .fl-col-group>.fl-col {
        width: 100% !important;
    }
}

@media (max-width:768px){
    /* .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;} */
    .product-box .responsive-button-wrapper-default a:last-child{
        display: none;
    }
    .product-box .responsive-button-wrapper-default a{
        background: #814249;
        color: aliceblue;
    }
    .top-bar-nav .nav-link{
        padding: 2px 10px!important;
    }
    footer .fl-col.fl-col-small {
        width: 100% !important;
    }
    footer#djcustom-footer, 
    footer h3.fl-heading,
    footer .fl-module-content.fl-node-content {
        text-align: center !important;
    }
 }
 @media (max-width:767px){
	 
	 #rmp_menu_trigger-1130769{
		 top: 155px !important;
	 }
	 .fl-page-bar-nav li:last-child {
		display: initial !important;
	}
	 .fl-page-bar .fl-page-bar-nav{
		 flex-direction: column !important;
	 }
	 
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}

    .fl-col-small{
        max-width: 600px;
    }
    .fl-page-bar-nav li:last-child{
        display: none;  
    }

    .fl-module-callout .fl-callout-title{
        font-size: 24px!important;
    }
    button#responsive-menu-button{
        top: 92px!important;
    }

    .fl-menu-mobile-toggle{
        color: #814249!important;
    }
	header  ul.social-icons{
		 display: flex !important;
	 }
    
 }

 @media(max-width:600px){
    .fl-page-bar .navbar-nav{
        padding: 0px!important;
    }
   
 }
a.fl-button:hover, .fl-builder-content a.fl-button:hover{
	color: #383838 !important;
	background: #ffffff !important;
}
a.fl-button:hover, .fl-builder-content a.fl-button:hover .fl-button-text{

	color: #383838 !important;
}
a.fl-button:hover, .fl-builder-content a.fl-button:hover span{
	color:#383838 !important;
}
.uabb-gf-style .gform_wrapper .gform_footer input[type=submit]:hover{
	border:1px solid #814249 !important;
}
/*New pdp css */
.container .row .product-detail-layout-6 #product-images-holder>div{
    background-size: cover!important;
}
@media(max-width: 1024px){
.product-detail-layout-6 .toggle-image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}
@media(max-width: 768px){
.product-detail-layout-6 .imagesHolder #roomvo {
    width: 100%!important;
    padding-bottom: 0;
    left: 0px!important;
    padding: 0px !important;
    margin: 0px !important;
}
.rmp-menu a.nav-link {
    color: #fff;
}
}
@media (max-width: 500px){
    .product-detail-layout-6 .image-expander {
        right: 25px!important;
    }
    footer#djcustom-footer {
        text-align: center;
    }
    ul#menu-copyright-bar-menu {
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul.social-icons {
        margin: 10px 0;
		display: flex;
    }
    #rmp_menu_trigger-1130769 {
        top: 213px !important;
    }

    .location-top .fl-col-content.fl-node-content {
        padding: 0;
    }

    
    .facetwp-template .product-grid .product-row > .col-md-4 {
        width: 100% !important;
        clear: left !important;
    }

    .desktop_hide {
        display: block !important;
    }
    

}
.product-detail-layout-6  .toggle-image-thumbnails{
    width: 100%;
}
.product-detail-layout-6 .slide.selected-slide:after {
    height: 30%!important;
    width: 30%!important;
    background-size: contain;
top: 30%!important;
    left: 35%;
}


/*New PDP Button Color css */
.product-detail-layout-6 .dual-button a {
    background-color: #814249!important;
    color: #fff!important;
    border-style: solid;
    border-width: 1px;
    border-color: #814249!important;
}

.product-detail-layout-6 .dual-button a:hover {
    color: #814249!important;
    background-color: transparent!important;
    border-style: solid;
    border-width: 1px;
    border-color: #814249!important;
}

.product-detail-layout-6 .button-wrapper>a {
    color: #fff!important;
    background-color: #814249!important;
    border-style: solid;
    border-width: 1px;
    border-color: #814249!important;
    text-transform: uppercase;
}

.product-detail-layout-6 .button-wrapper>a:hover {
    background-color: transparent!important;
    color: #814249!important;
    border-style: solid;
    border-width: 1px;
    border-color: #814249!important;
}
.homeSlider .fl-slide-0 .fl-slide-foreground .fl-slide-photo-wrap {
    width: 100%;
}
.fl-slide.fl-slide-0.fl-slide-text-center .fl-slide-photo-wrap {
    width: 100%;
}
.flooring-coupon-img img {
    width: 100%;
}

.flooring-coupon-img .fl-rich-text> p {
    display: none;
}
a.learnNow:hover {
    text-decoration: underline !important;
}
.hoverEff ul li a:hover {
    opacity: 0.6 !important;
}

.product-colors ul li.found {
    margin-right: 5px;
}

.product-detail-layout-6 .product-attributes tr td {
    word-break: break-all;
}